.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 1000px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    width: 1000px;
       overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #131111;
} 

#style-1::-webkit-scrollbar-thumb {
    background-color: #945959;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #dbe6cd;
}

.image-upload>input {
    display: none;
}
