:root {
--primary-white: #fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
 
}


.player-music {
  background-color: #040404 !important;
  width: 90%;
  height: 70%;
  color: var(--primary-white) !important;
  border: none !important;
  
}



